<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.testone.demo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activity.TestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity
            android:name=".activity.guodu.GuoDuActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity
            android:name=".activity.guodu.Transitions"
            android:configChanges="keyboardHidden|orientation|screenSize"/>


        <activity
            android:name=".activity.ele.StartSearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".activity.ele.SearchContentActivity"
            android:theme="@style/Theme.Transparent"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity
            android:name=".activity.share.ShareOneActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity
            android:name=".activity.share.ShareTwoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity
            android:name=".activity.EditTextActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity
            android:name=".activity.listview.ListViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity
            android:name=".activity.listview.RecyclerViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity
            android:name=".activity.listview.LoadMoreWrapperActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>


        <activity
            android:name=".activity.keyboard.KeybardActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".activity.seekbar.SeekBarKtActivity" />
        <activity android:name=".activity.TestUrlRequestActivity" />
        <activity android:name=".activity.database.DataBaseActivity" />
        <activity android:name=".activity.filepicker.FilePickerActivity" />
        <activity android:name=".activity.richtext.RichTextActivity" />
        <activity android:name=".activity.richtext.RichText2Activity" />


    </application>

</manifest>